.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    position: relative;
}

.head{  
    width: 300px;
    height: auto;
}       
.signe{
    width: 150px;
    height: auto;
}
.main article{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main p {
    width: 250px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main h1 span{
    padding: 5px 0;
    font-size: 2em;
}
.main h1 span:nth-child(2){
    background-color: var(--blue);
    color: white;
}

.main h1 span:last-child{
    background-color: var(--red);
    color: white;
}

.hand{
    position: absolute;
    left: 0;
    top: -80px;
    width: 10%;
    height: auto;

    transform: rotate(90deg);
}
.hand1{
    position: absolute;
    right: 0;
    bottom: -80px;
    width: 10%;
    height: auto;

    transform: rotate(-90deg);
}
.tache, .tache1{
    width: 10%;
    height: auto;
    position: absolute;
}

.tache{
    top: 20px;
    left: 0;
}
.tache1{
    top: 30%;
    right: -50px;
}

@media (min-width:800px) {
    .head{
        width: 50vw;
    }
    .signe{
        width: 20vw;
        height: auto;
    }
    .main p {
        width: 35vw;
    }
}